.global_layout {
    margin: 3rem auto;
    max-width: 600px;
    padding: 1rem 1rem;
}

.global_layout_header {
    margin-bottom: 1.5rem;
}

.global_layout_link {
    text-shadow: none;
    background-image: none;
    color: black;
}

.global_layout_listlink {
    display: inline-block;
    margin-right: 1rem;
    
}

.global_layout_h3_name {
    display: inline;
}

.global_layout_ul {
    list-style: none;
    float: right;
    margin: 0;
}